@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

/*main*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 1px;
}

header {
    background: #fff;
    padding: 32px 0;
}

.text-transform {
    text-transform: uppercase;
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 18pt;
    text-align: center;
    margin: 0 auto;
}

.menu li {
    margin: 0 35px;
}

.menu li a {
    color: #16a085;
    text-decoration: none;
}

.content-wrap {
    text-align: center;
    background: #f5f6f7;
}

.content-inner {
    padding: 60px 135px;
}

.content-inner h2 {
    font-weight: 900;
    margin: 0 0 35px;
}

.content-wrap img {
    width: 100%;
    max-height: 790px;
    object-fit: cover;
}

.green-btn {
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    width: 190px;
    margin-top: 40px;
}

footer {
    text-align: right;
    padding: 45px 105px;
}
